.vs/
build/
packages/
bin/
obj/
AccountData.json
AccountData.json.*
RecentGames.json
SavedGames.json
RAMSettings.ini
RAMTheme.ini
BrowserConfig.json
proxies.txt
Backups/
NoEncryption.IUnderstandTheRisks.iautamor
*.log
*.tmp
*.bak*
*.backup
*.old
*.autofix_bak
nuget.exe
installer/Output/
installer/MicrosoftEdgeWebview2Setup.exe