.vs/
build/
packages/
bin/
obj/

AccountData.json
AccountData.json.*
RecentGames.json
RAMSettings.ini
RAMTheme.ini
BrowserConfig.json
proxies.txt
Backups/
*.log
*.tmp
*.bak*
*.backup
*.old
nuget.exe

NoEncryption.IUnderstandTheRisks.iautamor
